*/target/*
*.classpath*
*.settings*
*.eclipse.*
*.metadata*
*.log
*.recommenders*
.idea/
*.gz
*.recommenders*
*.project*
*bin/
*.classpath
target/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
*.classpath*
*.project
*.settings
*.recommenders
*.metadata*
*.eclipse.*
*.txt
*.DS_Store
*LOG_FILEPATH*
